<div class="header-top">
  <img src="/ej-antiques/ej-logo-2.jpg" alt="EJ's Antiques logo" class="logo-image" />


  <div class="follow-section">
    
    <nav class="nav-container">

      <ul class="nav-links" id="mainNav">
        <li><a href="/">Shop</a></li>
        <!--<li><a href="/products/">For Sale</a></li>-->
        <li><a href="/sold/">Sold</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/checkout/">Contact Us</a></li>
        <li><a href="/about/">About Us</a></li>
      </ul>
    </nav>
    
    <button id="hamburger" aria-label="Toggle navigation" aria-expanded="false">☰</button>

    <button id="cartToggleBtn" class="cart-toggle-btn">
      🛒 Enquiry (<span id="cartCount">0</span>)
    </button>
    <span class="follow-label">Follow us:</span>
    <div class="image-nav">
      <a href="https://www.instagram.com/ej_antiquesuk/#" target="_blank"><img src="/ej-antiques/instagram.jpg" alt="Instagram" /></a>
      <a href="https://www.facebook.com/people/EJ-Antiques/61586538720932/?mibextid=wwXIfr&rdid=5dDkAuYE8tRGVSRc&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1WLEC3Jfpd%2F%3Fmibextid%3DwwXIfr" target="_blank"><img src="/ej-antiques/facebook.jpg" alt="Facebook" /></a>
      <a href="https://uk.pinterest.com/ej_antiquesuk/" target="_blank"><img src="/ej-antiques/pinterest.jpg" alt="Pinterest" /></a>
    </div>
        

  </div>
</div>


